NEXT_PUBLIC_FIREBASE_API_KEY=your_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your_project
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your_project.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
NEXT_PUBLIC_FIREBASE_APP_ID=your_app_id
FIREBASE_SERVICE_ACCOUNT_JSON=

VIZZION_PUBLIC_KEY=
VIZZION_SECRET_KEY=
VIZZION_BASE_URL=https://app.vizzionpay.com.br

OMEGA_PUBLIC_KEY=
OMEGA_SECRET_KEY=
OMEGA_BASE_URL=https://app.omegapayments.com.br

VIZZION_PIX_DEFAULT_DOCUMENT=52968522817
VIZZION_PIX_DEFAULT_PHONE=11982854183
APP_URL=https://arenaclash-platform.vercel.app
JWT_SECRET=arenaclash_jwt_secret_change_in_production
ADMIN_MASTER_SECRET=arenaclash_admin_secret
